@page "/"

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />
@{
    var x = nameof(Program.Main);
    var y = nameof(Pages.Counter.Foo);
}
